/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
*.dylib
.eastwood
.clj-kondo/.cache
.lein-repl-history
.DS_Store
*.log
.m2
*.so

.classpath

.project

.settings/

.calva/output-window/
