{:lint-as {kezban.core/try->         clojure.core/->
           jme-clj.core/letj         clojure.core/let
           jme-clj.core/defsimpleapp clojure.core/def}
 :linters {:unresolved-symbol {:exclude [(kezban.core/if-let*)
                                         (kezban.core/when-let*)]}
           :deprecated-var    :off}}